.container{
    border: 5px solid green;
}
.container-fluid{
    border: 5px solid red;
}
.row{
    border: 10px solid rgb(231, 5, 5);
}
.yellow{
    /* min-height: 250px; */
    background: yellow;
    /* font-size: 22px; */
}
.pink{
    /* min-height: 250px; */
    background: rgb(220, 33, 192);
}
.orange{
    /* min-height: 250px; */
    background: rgb(223, 91, 43);
    /* font-size: 12px; */
}
.blue{
    /* min-height: 250px; */
    background: rgb(160, 230, 228);
    font-size: 20px;
}